body{
	background-image:url(../images/bodybg.gif);
	text-align: center;
	font-family: 宋体;
	font-size: 12px;
	color: #522a06;
	padding: 0px;

}
img{
	border: 0px;
}
.li{
 	list-style-type: none;
}
a{
	color: #522a06;
 	text-decoration:none; 
 }
 a:hover{
 	text-decoration:underline;
 }
 #header{
 	height: 205px;
 	background-image: url(../images/bg.gif);
 	background-position: top;
 	background-repeat: no-repeat;
 }
 #banner{
 	width: 1000px;
 	height: 164px;
}
 .img1{
 	position: absolute;
	left:170px;
	top:38px;
 }
 #nav{
 	height: 40px;
 	background-image: url(../images/nav.jpg);
 }
 .nav_body{
 	width: 1000px;
 	text-align: center;
 }
 .nav_content{
 	width: 1300px;
 	font-weight: 700;
 	color: #fff;
 
 }
 .daohanglianjie:hover{
 	line-height:40px; 
 	color: #f9f603;
 	text-decoration: none;
 }
 .daohanglianjie{
 	line-height:40px;
 	color: #fff;
 }
 #shouye{
 	color: #f9f603;
 }
 .input{
 	width: 140px;
 	height: 19px;
 	background-color: #f8f5ee;
 }
 .search{
 	width: 44px;
 	height: 21px;
 	background-color: #000;
 	color: #fff;
 	border: 1px solid #f8f5ee;
 }
 #content{
 	width: 1000px;
 	clear: both;
 	padding-left: 155px;
 }
#content_top{
 	overflow: hidden;
 	height: 300px;
 	margin-top: 10px;
 }
#content_bottom_left{
	width: 715px;
	float: left;
}
#content_bottom_right{
	width: 280px;
	border-top: 20px;
	float: right;
}
.news_pic{
	width: 324px;
	height: 243px;
	background-image: url(../images/news_bg.png);
	background-repeat: no-repeat;
	float: left;
}
.img2{
	width: 300px;
	height: 200px;
	text-align: center;
	padding-top: 2px;
}
.p1{
	width: 300px;
	height: 22px;
	text-align: center;
}
.news_list{
	width: 350px;
	border-left: 38px;
	float: left;
} 
.title1{
	background-image: url(../images/change.png);
	background-repeat: no-repeat;
	width: 350px;
	height: 21px;
}
.span1{
	float: right;
}
.li1{
	line-height: 30px;
	text-align: left;
	float: left;
}
.riqi{
	float: right;
}
#news_announce{
	width: 277px;
	border-top: 20px;
	float: right;
}
.title2{
	background-image: url(../images/board.png);
	background-repeat: no-repeat;
	width: 214px;
	height: 21px;
	float: right;
}
.li2{
	text-align: left;
	line-height: 30px;
	background-image: url(../images/board_bg.png);
	background-position: center;
	width: 285px;
	height: 210px;
	float: right;
	background-repeat: no-repeat;
}
.academic{
	width: 340px;
}
.title3{
	background-image: url(../images/academic.png);
	background-repeat: no-repeat;
	width: 340px;
	height: 54px;
}
.li3{
	line-height: 30px;
	text-align: left;
	float: left;
	padding-left: 1px;
}
.book_news{
	width: 340px;
	float: right;
}
.title4{
	background-image: url(../images/book_news.png);
	background-repeat: no-repeat;
	width: 35px;
	height: 54px;
	float: right;

}
.li4{
	line-height: 30px;
	text-align: left;
	float: right;
	padding-left: 1px;
}
.fengcai{
	width: 700px;
	clear: both;
}
.title5{
	background-image: url(../images/fengcai_bg1.png);
	width: 700px;
	background-repeat: no-repeat;
}
.li5{
	margin-top: 5px;
	height: 180px;
	padding:20px;
	list-style-type: none; 
	background-image: url(../images/fengcai_bg2.png);
	background-position:40px 50px; 
	background-repeat: no-repeat;
}
.li6{
	display: inline;
	float: left;
	margin-top: 35px;
}
.title6{
	margin-top: 26px;
	height: 24px;
	background-image: url(../images/show.png);
	background-repeat: no-repeat;
	background-position: center;
}
.ouyang{
	margin-top: 20px;
	width: 278px;
	background-image: url(../images/show_bg.png);
	height: 430px;
	background-repeat: no-repeat;
}
.ziti{
	font-weight: 800;
	font-size: 17px;
	color: red;
}
.imgmingjia{
	width: 220px;
	position: center;
	padding-left: 27px;
	padding-top: 20px;
}
.wenzi{
	font-size: 14px;
	line-height: 22px;
	text-align:left;
}
.img4{
	float: right;
}
#footer{
	height: 105px;
	clear: both;
	background-image: url(../images/foot.gif);
	background-repeat: no-repeat;
}
.yejiao{
	padding-top: 20px;
	display: inline;
	font-weight: 600;
	font-size: 15px;
	list-style-type: none;
	padding-left: 7px;

}
.zuihou{
	font-size:10px;
}